{{#foreach posts}}
	<article class="container {{post_class}}" id="post-{{id}}">
		<header class="c-10 off-01 post-header">
			<h2><a href="{{url}}">{{{title}}}</a></h2>
			<p><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM DD, YYYY"}}</time></p>
		</header>
		<section class="c-10 off-01 post-excerpt">
			<p>{{excerpt words="50"}}&#8230;</p>
		</section>		
	</article>
{{/foreach}}