<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />

		<meta content="{{meta_title}}" name="title" />
		<meta content="Lucas K.T. Lee" name="author" />
		<meta content="{{meta_description}}" name="description" />
		<meta content="asset management, bitcoin, books, business school, disruptive technology, entrepreneurship, fintech, history, innovation, MBA, portfolio management, private equity, startups, technology, venture capital, Wharton" name="keywords" />
		
		<link href="//cloud.typography.com/7428892/793304/css/fonts.css" rel="stylesheet" type="text/css" />
		<link href="{{asset "css/screen.css"}}" media="screen, projection" rel="stylesheet" type="text/css" />
		
		{{! Picturefill -- can be asynchronous }}
		<script type="text/javascript">
			// Picture element HTML5 shiv
			document.createElement("picture");
		</script>
		<script async src="{{asset "js/picturefill.min.js"}}" type="text/javascript"></script>
		
		{{! Prism -- cannot be asynchronous }}
		<script src="{{asset "js/prism.min.js"}}" type="text/javascript"></script>

		{{! Google Analytics -- can be asynchronous }}
		<script async src="//www.google-analytics.com/analytics.js" type="text/javascript"></script>
		
		<title>{{meta_title}}</title>

		{{! Ghost outputs important style and meta data with this tag }}
		{{ghost_head}}
	</head>
	<body>
		<a class="accessibility" href="#page-content">Skip to main content</a>
		<header id="page-header" role="banner">
			<div class="container">
				<a href="{{@blog.url}}"><img alt="Lucas K.T. Lee" sizes="" srcset="{{asset "images/lucasktlee-s.jpg"}} 168w, {{asset "images/lucasktlee-m.jpg"}} 200w, {{asset "images/lucasktlee-l.jpg"}} 224w, {{asset "images/lucasktlee-s-@2x.jpg"}} 336w, {{asset "images/lucasktlee-m-@2x.jpg"}} 400w, {{asset "images/lucasktlee-l-@2x.jpg"}} 448w" src="{{asset "images/lucasktlee-s.jpg"}}" /></a>
				<h1>Lucas K.T. Lee</h1>
			</div>
		</header>

		<div id="page-content">
			<div class="container">
				{{{body}}}	
			</div>
		</div>

		<footer id="page-footer" role="contentinfo">
			<div class="container">
				<div class="c-12" id="me">
					<h1>About Me</h1>
					<picture><img src="{{ asset "images/lucasktlee-s.jpg"}}"/></picture>
					<p class="clearfix">I am a <abbr>MBA</abbr> student at Wharton, private equity lawyer, technology enthusiast, and amateur photographer. <small><a href="http://lucasktlee.com/about/">More</a></small></p>
				</div>
				<div class="c-06" id="elsewhere">
					<h1>Elsewhere</h1>
					<ul>
						<li class="i-twitter"><a href="https://twitter.com/LucasKTLee">Follow me on Twitter</a></li>
						<li class="i-linkedin"><a href="https://www.linkedin.com/in/lucasktlee">Find me on LinkedIn</a></li>
						<li class="i-500px"><a href="https://500px.com/LucasKTLee">My photos on 500px</a></li>
						<li class="i-github"><a href="https://github.com/lucasktlee">My code on Github</a></li>
					</ul>
				</div>
				<div class="c-06" id="">
					<h1>Recommended Reading</h1>
					<ul>
						<li>
							<img alt="" src="{{asset "images/rec-book.png"}}"/>
							<p>
								<cite><a href="">Zero to One: Notes on Startups, or How to Build the Future</a></cite><br/>
								Peter Thiel with Blake Masters
							</p>
							<p class="clearfix">	
								<small><a href="http://lucasktlee.com/recommended-reading/">More</a></small>
							</p>
						</li>
					</ul>					
				</div>
				<div class="c-12" id="site">
					<h1>About This Site</h1>
					<p>This site is powered by <a href="https://ghost.org/">Ghost</a>. Typeset in <a href="http://www.typography.com/fonts/gotham/overview/">Gotham</a> and <a href="http://www.typography.com/fonts/mercury-text/overview/">Mercury Text</a> from <a href="http://typography.com/">Hoefler&amp;Co.</a> Built on an <a href="">Apple MacBook Pro</a>. <small><a href="http://lucasktlee.com/colophon/">More</a></small></p>
				</div>
				<div class="c-12" id="disclaimer">
					<h1>Legal Disclaimer</h1>
					<p>Content on this website is prepared for informational purposes only and should <strong><em>not</em></strong> be treated as legal advice. Transmission or receipt of information on this website <strong><em>does not</em></strong> create an attorney-client relationship. <small><a href="http://lucasktlee.com/disclaimer/">More</a></small></p>
				</div>
				<div class="c-12" id="rights">
					<p class="center">&#169; Copyright 2014 – 2015 Lucas K.T. Lee.</p>
				</div>				
			</div>
		</footer>
		{{! Ghost outputs important scripts and data with this tag }}
		{{ghost_foot}}
	</body>
</html>