<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />

		<meta content="{{meta_title}}" name="title" />
		<meta content="Lucas K.T. Lee" name="author" />
		<meta content="{{meta_description}}" name="description" />
		<meta content="asset management, books, business school, disruptive technology, entrepreneurship, history, innovation, MBA, portfolio management, private equity, startups, technology, venture capital, Wharton" name="keywords" />
		
		<link href="//cloud.typography.com/7428892/793304/css/fonts.css" rel="stylesheet" type="text/css" />
		<link href="{{asset "css/screen.css"}}" media="screen, projection" rel="stylesheet" type="text/css" />
		
		{{! Picturefill }}
		<script type="text/javascript">
			// Picture element HTML5 shiv
			document.createElement("picture");
		</script>
		<script async src="{{asset "js/picturefill.min.js"}}" type="text/javascript"></script>
		
		{{! Google Analytics }}
		<script async src="//www.google-analytics.com/analytics.js" type="text/javascript"></script>
		
		<title>{{meta_title}}</title>

		{{! Ghost outputs important style and meta data with this tag }}
		{{ghost_head}}
	</head>
	<body>
		<a class="accessibility" href="#page-content">Skip to main content</a>
		<header id="page-header" role="banner">
			<div class="container">
				
			</div>
		</header>

		<div id="page-content">
			<div class="container">
				
			</div>
		</div>

		<footer id="page-footer" role="contentinfo">
			<div class="container">
				
			</div>
		</footer>
		{{! Ghost outputs important scripts and data with this tag }}
		{{ghost_foot}}
	</body>
</html>